%h1 マイページ

%p= current_user.login_id
%p= image_tag current_user.user_image_url, size: '100x100'

%table
  %thead
    %tr
      %th Title
      %th Book
  %tbody
    - @reviews.each do |review|
      %tr
        %td= link_to review.title, review
        %td= link_to review.book.title, review.book
